---
import { text } from "../../language/text";
import Layout from "../../layouts/Layout.astro";
import { Heading } from "@navikt/ds-react";
import type { Language } from "../../language/language";
import AstroIslandExample from "@src/components/astro-island/AstroIsland.astro";

const language = Astro.currentLocale as Language;
  console.error("Neverlucky i index");

---

<Layout>
    <div>
        <div>
            <Heading size={"large"}>
                {text.title[language]}
            </Heading>
        </div>
    </div>
    <AstroIslandExample server:defer>
    </AstroIslandExample>
</Layout>