ul {
  list-style: none;
  padding: 0;
}

.box {
  margin-bottom: 0.5rem;
}

.headingWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  margin-bottom: 0rem;
}

.tittel {
  margin-bottom: 0.5rem;
}

.date {
  margin-bottom: 1.25rem;
}

.link {
  display: flex;
  gap: 0.5rem;
  align-content: center;
  justify-content: space-between;
  margin-top: 0.2rem;
  color: var(--a-text-default);
}

.link:hover {
  text-decoration: none;
  cursor: pointer;
}

.chevron {
  line-height: 0;
  transition: 0.3s;
}

.link:hover .chevron{
  transform: translate(4px);
}