.box {
  margin-bottom: 0.5rem;
}

.heading {
  margin-bottom: 0.75rem;
}

.tittel {
  margin-bottom: 0.5rem;
}

.link {
  display: flex;
  flex-basis: content;
  gap: 0.5rem;
  align-content: center;
  margin-top: 0.2rem;
}

.link:hover .icon {
  background-color: var(--a-surface-action-subtle-hover);
}

.soknad {
  margin-top: 1rem;
}

.vedleggsWrapper {
  padding-top: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 0.75rem;
}

.icon {
  display: flex;
  padding: 0.5rem;
  background-color: var(--a-surface-default);
  border-radius: 4px;
}
