---
import { fetchKontonummer } from '@src/utils/server/fetchKontonummer';
import { Heading, Link, BodyShort, Alert, Box } from '@navikt/ds-react';
import styles from './Kontonummer.module.css';

const kontonummer = await fetchKontonummer(Astro.locals.token);
---

<Box
  background="surface-action-subtle"
  padding="5"
  paddingInline="6"
  borderRadius="xlarge"
  className={styles.box}
>
  <Heading level="2" size="medium">Konto for utbetaling</Heading>
  <div>
    <Heading level="3" size="xsmall">Kontonummer</Heading>
    <BodyShort>
      {kontonummer.kontonummer}
    </BodyShort>
  </div>
  <Link href="#">Endre kontonummer for utbetaling</Link>
  <Alert variant="info" size="small">
    <BodyShort>
      Hvis du ikke kjenner igjen kontonummeret, m책 du kontakte oss p책 telefon 55
      55 33 33 i 책pningstiden eller kontakte oss via v책re digitale kanaler.
    </BodyShort>
  </Alert>
</Box>
